.emp-registration hr {
  color: #32C24D;
  font-family: "Century Gothic";
  border: 1px solid green;
  width: 100%;
}

.emp-registration fieldset {
  width:;
  font-family: "Century Gothic";
  border: 2px solid green;
  border-radius: 10px;
}

.emp-registration input {
  width:auto;
  width:;
  height:;
}
