table, table tr, table tr td{
	border: none;
}
.myAds-fields {
	border: 1px solid green;
}
.myAds-table {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	width: 80%;
	background-color: hsl(0, 0%, 94%);
	padding: 10px;
	color: green;

}
.info{
  text-align: left;
  color: black;
}

.myAds-notice{
	padding: 10px;
	color: black;
	background: white;
}

#myAds-title {
	border: none;
	font-weight: bold;
	font-size: 17px;
	line-height: 2.5;

}
